.adding{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
body{
    margin: 0;
    box-sizing: border-box;
}
.all_task{
    height: 80%;
    width:100%;
    gap: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.indi_task{
    position: relative;
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    background-color: #fff;
}
button{
    height: 30px;
    width: 60px;
    
}
.done{
    height: 20px;
    width: 20px;
    background-color: rgb(120, 233, 120);
    position: absolute;
    right: 8px;
    top: 12px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px black;
}
.indi_task_completed{
    position: relative;
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    background-color: rgb(120, 233, 120);
}
.un_done{
    height: 20px;
    width: 20px;
    background-color: red;
    position: absolute;
    right: 8px;
    top: 12px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px black;
}
.del{
    background-color: rgb(252, 0, 0);
    position: absolute;
    right: 40px;
    top: 12px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px black;
}